/.idea/.idea.Scripts/.idea/.gitignore
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/.idea/.idea.Scripts/.idea/indexLayout.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/obj/Debug/net7.0/Scripts.AssemblyInfo.cs
/obj/Debug/net7.0/Scripts.AssemblyInfoInputs.cache
/obj/Debug/net7.0/Scripts.assets.cache
/Scripts.csproj
/obj/Debug/net7.0/Scripts.csproj.AssemblyReference.cache
/obj/Scripts.csproj.nuget.dgspec.json
/obj/Scripts.csproj.nuget.g.props
/obj/Scripts.csproj.nuget.g.targets
/obj/Debug/net7.0/Scripts.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/Scripts.GlobalUsings.g.cs
/Scripts.sln
/.idea/.idea.Scripts/.idea/vcs.xml
